/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";

@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";

.p-dropdown-panel .p-dropdown-items {
    padding: 0.2rem;
    margin: 0;
    overflow-y: auto !important;
    max-height: 200px;
}

.p-dropdown-panel .p-dropdown-item {
    border-radius: 0.375rem !important;
}

.p-dropdown-items-wrapper {
    scrollbar-width: none;
}

.p-dropdown {
    border: 2px solid var(--gray-50) !important;
    width: 100%;
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: red !important;
}