<div class="d-flex justify-content-between mb-3">
  <div>
    <h1 class="title fw-bold">Stock Flow</h1>
    <p class="mb-0">ระบบจัดการสต็อกสินค้าและติดตามความเคลื่อนไหว</p>
  </div>
  <div class="d-flex align-items-center gap-2">3 รายการสินค้ารอ</div>
</div>

<ul class="navbar-nav ms-auto d-flex flex-row">
  <li
    class="nav-item me-3 border rounded shadow-sm px-3 py-1 bg-white"
    [class.active]="currentTab === 'dashboard'"
  >
    <a class="nav-link py-0"
       href="javascript:void(0)"
       (click)="setTab('dashboard')">แดชบอร์ด</a>
  </li>

  <li
    class="nav-item me-3 border rounded shadow-sm px-3 py-1 bg-white"
    [class.active]="currentTab === 'products'"
  >
    <a class="nav-link py-0"
       href="javascript:void(0)"
       (click)="setTab('products')">จัดการสินค้า</a>
  </li>

  <li
    class="nav-item me-3 border rounded shadow-sm px-3 py-1 bg-white"
    [class.active]="currentTab === 'movements'"
  >
    <a class="nav-link py-0"
       href="javascript:void(0)"
       (click)="setTab('movements')">ความเคลื่อนไหว</a>
  </li>

  <li
    class="nav-item border rounded shadow-sm px-3 py-1 bg-white"
    [class.active]="currentTab === 'reports'"
  >
    <a class="nav-link py-0"
       href="javascript:void(0)"
       (click)="setTab('reports')">รายงาน</a>
  </li>
</ul>

<div class="mt-3">
  @if (currentTab === 'dashboard') {
    <app-dashboard></app-dashboard>
  }
  @if (currentTab === 'products') {

  }
  @if (currentTab === 'movements') {
    <app-stock-managemet></app-stock-managemet>
  }
  @if (currentTab === 'reports') {

  }
</div>
