<div class="d-flex justify-content-between">
  <div>
    <h1 class="title font-bold">Stock Flow</h1>
    <p>ระบบจัดการสต็อกสินค้าและติดตามความเคลื่อนไหว</p>
  </div>
  <div class="flex items-center gap-2">4 รายการสินค้ารอ</div>
</div>

<ul
  class="navbar-nav ms-auto d-flex flex-row"
>
  <li class="nav-item me-3 border rounded shadow-sm px-3 py-2 bg-white">
    <a class="nav-link active" href="#">แดชบอร์ด</a>
  </li>
  <li class="nav-item me-3 border rounded shadow-sm px-3 py-2 bg-white">
    <a class="nav-link" href="#">จัดการสินค้า</a>
  </li>
  <li class="nav-item me-3 border rounded shadow-sm px-3 py-2 bg-white">
    <a class="nav-link" href="#">ความเคลื่อนไหว</a>
  </li>
  <li class="nav-item border rounded shadow-sm px-3 py-2 bg-white">
    <a class="nav-link" href="#">รายงาน</a>
  </li>
</ul>
