<div class="container p-4">
  <div class="card">
    <div class="card-header">
      <div class="movement-header p-4">
        <h2>Stock Management</h2>
        <p>Product Receiving (IN) and Issuing (OUT)</p>
      </div>
    </div>

    <div class="card-body">
      <div class="card-header fw-semibold">Stock Movement Record</div>
      <div class="card-body">
        <form class="row g-3 mb-4" #movementForm="ngForm" (ngSubmit)="saveMovement()">
          <!-- Product as Input -->
          <div class="col-md-3">
            <label class="form-label">Product Code</label>
            <input type="text" class="form-control" placeholder="Enter Product Code" name="product"
              [(ngModel)]="selectedProduct" required />
          </div>

          <!-- Type -->
          <div class="col-md-2">
            <label class="form-label">Type</label>
            <p-dropdown [options]="movementTypeOptions" optionLabel="label" optionValue="value"
              placeholder="Select Type" [(ngModel)]="selectedMovementType" name="type"></p-dropdown>
          </div>

          <!-- Quantity -->
          <div class="col-md-2">
            <label class="form-label">Quantity</label>
            <p-dropdown [options]="quantityOptions" optionLabel="label" optionValue="value"
              placeholder="Select Quantity" [(ngModel)]="selectedQuantity" name="quantity"></p-dropdown>
          </div>

          <!-- Reference -->
          <div class="col-md-3">
            <label class="form-label">Reference</label>
            <input type="text" class="form-control" placeholder="Enter reference" name="reference"
              [(ngModel)]="selectedReference" required />
          </div>


          <!-- Save Button -->
          <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-primary w-100" type="submit" [disabled]="movementForm.invalid">
              <i class="bi bi-plus-circle me-1"></i>
              {{ selectedId ? 'Update' : 'Save' }}
            </button>
          </div>
        </form>

        <!-- Movements Table -->
        <table class="table table-bordered align-middle">
          <thead class="table-light">
            <tr>
              <th>Date & Time</th>
              <th>Product</th>
              <th>Type</th>
              <th>Quantity</th>
              <th>Reference</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of movements">
              <td>{{ m.created_at }}</td>
              <td>{{ m.product?.name || m.product }}</td>
              <td>
                <span class="badge" [ngClass]="m.status === 'received' ? 'bg-success' : 'bg-danger'">
                  {{ m.status }}
                </span>
              </td>
              <td>{{ m.quantity }}</td>
              <td>{{ m.reference }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>