//
<div class="m-5">
  <div class="mb-5">
    <p-dropdown
      [options]="items"
      [(ngModel)]="selectedItem"
      optionValue="label"
      placeholder="Select a fruit"
      (onChange)="onItemChange($event)"
    >
    </p-dropdown>
  </div>

  <div class="card" style="width: 18rem">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card’s content.
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">
        <i class="fa-solid fa-house"></i>
      </a>
      <a href="#" class="card-link">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
  </div>

</div>

<input type="file" (change)="onFileSelected($event)" />
<button (click)="upload()">Upload</button>

<div *ngFor="let p of products">
  <h3>{{ p.name }} - {{ p.price }}</h3>
  <img *ngIf="p.image_url" [src]="p.image_url" width="150" />
</div>
